:root {
  --primary: #D77A61;
  --primary-010: #c26247;

  --white: #fff;

  --grey: #9b9ba0;

  --green: #1d861d;

  --dark-blue: #223843;
  --dark-blue-010: #162b36;

  --red: #c90025;
  --red-010: #a3001e;
}
